.row.mt
  .col-lg-12
    .showback
      %h4
        %i.fa.fa-angle-right
        == #{@permits.total_count} Permits for #{@project.title}

      #map-canvas

.row.mt
  .col-lg-12
    .showback
      %table.table.table-bordered.table-striped.table-condensed
        %thead
          %tr
            %th City ID
            %th Type
            %th Locations
            %th 'Hood, Borough
            %th Shoot Desc.
            %th Started
            %th Ended
            %th Duration
        %tbody
          - @permits.each do |permit|
            - hoods = permit.locations.with_address.pluck(:neighborhood).uniq.compact.join(", ")
            %tr
              %td.numeric= permit.event_ref
              %td= permit.event_type
              %td== #{permit.locations.count} + #{permit.intersections.count}
              %td== #{hoods}, <strong>#{permit.boro}</strong>
              %td= permit.event_name
              %td= permit.event_start.in_time_zone("EST").strftime('%b %d, %Y at %H:%m %p')
              %td= permit.event_end.in_time_zone("EST").strftime('%b %d, %Y at %H:%m %p')
              %td= shoot_length(permit.event_start, permit.event_end)

              -#%td= link_to permit.title, data_company_permit_permits_path(company_id: permit.company_id, permit_id: permit.id)
      = paginate @permits


    - content_for :footer_js do

      :javascript

        function gmapInit() {
          var mapOptions = {
            center: { lat: 40.766, lng: -73.977},
            zoom: 13
          };
          var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
        }
        google.maps.event.addDomListener(window, 'load', gmapInit);
