.row.mt
  .col-lg-12
    .showback
      %h4
        %i.fa.fa-angle-right
        Projects Directory

      %p
        Filter by:
        %ul.inline
        - Category.all.each do |cat|
          =link_to data_projects_path(category_id: cat.id) do
            %li.btn.btn-primary= cat.name.titleize

      %table.table.table-bordered.table-striped.table-condensed
        %thead
          %tr
            %th City ID
            %th Category
            %th Company Name
            %th Title
        %tbody
          - @projects.each do |project|
            %tr
              %td.numeric= project.city_ref
              %td= project.category.name
              %td= project.company.name
              %td= project.title

      = paginate @projects
