- content_for :breadcrumb do
  %i.fa.fa-angle-right
    Projects

.secondary-navbar
  .container
  .secondary-navbar-inner
    %ul.inline
      - Category.all.each do |cat|
        =link_to data_projects_path(category_id: cat.id) do
          %li.btn.btn-flat.btn-primary= cat.name.titleize


.row.mt
  .col-lg-12
    .showback
      %h4

      %p
        Filter by:

      %table.table.table-bordered.table-striped.table-condensed
        %thead
          %tr
            %th City ID
            %th Category
            %th Permits
            %th Company Name
            %th Title
        %tbody
          - @projects.each do |project|
            %tr
              %td.numeric= project.city_ref
              %td= project.category.name
              %td= project.permits_count
              %td= project.company.name
              %td= link_to project.title, data_company_project_permits_path(company_id: project.company_id, project_id: project.id)

      = paginate @projects
